*.kicad_sch text eol=lf
*.kicad_pcb text eol=lf
*.kicad_pro text eol=lf
*.kicad_prl text eol=lf
*.kicad_sym text eol=lf
*.kicad_mod text eol=lf
*.kicad_wks text eol=lf
*.py text eol=lf
*.md text eol=lf
*.html text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.svg text eol=lf
mechanical/*.svg binary

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
*.step binary
*.stp binary
