[SddmGreeterTheme]
Name=Ducktop HUD
Description=Minimal Ducktop2 HUD login theme
Author=Ducktop2
Copyright=2026 Ducktop2
License=CC-BY-4.0
Type=sddm-theme
Version=0.1
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=ducktop-hud
Theme-API=2.0
